/* inserisco regole di reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}



/* coloro e stilizzo bordi del main  */
main{
    margin:40px 100px 40px;
    border: 1px solid blue;
}
/* stili di bordo  */
.bordi_tondi{
    border-radius:5px;
}

.cerchio{
    display:inline-block;
    width:20px;
    height:20px;
    border: 2px solid;
    border-radius:50%;
}

/* colori sfondo  */
.white{
    background-color: white;
}
.blue{
    background-color:rgb(56, 170, 255);
}
.green{
    background-color:rgb(44, 198, 171);
}
.violet{
    background-color:rgb(171, 93, 230);
}
.orange{
    background-color:rgb(250, 155, 0);
}
.pink{
    background-color:rgb(236, 74, 157);
}
.light_green{
    background-color:rgb(163, 209, 20);
}
.soft_grey{
    background-color:rgb(248, 249, 250);
}

/* colori cerchietti  */

.border_green{
    border-color:rgb(129, 221, 205);;
}
.border_red{
    border-color:rgb(241, 0, 0);
}
.logo{
    width: 70px;
}
.logo_title{
    display:inline-block;
    font-size:45px;
    vertical-align:baseline;
}

/* visualizzo il container */
.title_container{
    height: 90px;
    padding:10px;
   
}

/* definisco dimensioni  */

#button_container{
    margin:5px 10px 5px 40px;
}

/* stilizzo ogni nota  */
.notes{
    margin: 30px;
}
.item{
    font-weight: 600;
}


#add_task{
    padding: 5px;
}
#add_section{
    padding: 5px;
}

/* pseudoselettori per aggiungere spunte ai titoli  */
h2::before{
    content:'\2714';
}

/* creo template label  */
.label{
    color:white;
    border-radius:5px;
    display:inline-block;
}