/* inserisco regole di reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* do il colore blu al body  */


header{
    background-color:white;
}
/* coloro e stilizzo bordi del main  */
main{
    margin:40px 100px 40px;
    border: 1px solid blue;
}
/* stili di bordo  */
.bordi_tondi{
    border-radius:5px;
}

.cerchio_verde{
    display:inline-block;
    width:20px;
    height:20px;
    border: 1px solid green;
    border-radius:50%;
}

/* colori sfondo  */
.white{
    background-color: white;
}
.blue{
    background-color:rgb(56, 170, 255);

}
.logo{
    width: 70px;
}
.logo_title{
    display:inline-block;
    font-size:45px;
}

/* visualizzo il container */
.title_container{
    height: 90px;
    padding:10px;
   
}

/* definisco dimensioni  */

#button_container{
    margin:5px 10px 5px 10px;
}

.notes{
    margin: 30px;
}

/* pseudoselettori per aggiungere spunte ai titoli  */
h2::before{
    content:'\2714';
}

/* creo template label  */
.label{
    color:white;
    border-radius:5px;
    display:inline-block;
}